
#preview-div-loaded.js-hidden

%h3 Will bill for #{@billable.total_duration} hours

%p The following entries will be shown on the invoice and included on the bill.

%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Project
      %th.text-info Activity
      %th.text-warning.nowrap Admin notes
      %th Rate
      %th.nowrap Hours
      %th Bill

  - @billable.each do |entry|
    %tr
      %td.nowrap= date entry.date
      %td= entry.project.name
      %td.text-info.max-400= entry.invoice_notes
      %td
        %span.text-warning= entry.admin_notes
      %td.text-muted #{entry.project.inherited_rate.format} / hr
      %td= entry.duration
      %td= entry.bill.format
  %tr
    %th
    %th
    %th
    %th
    %th Total
    %th= @billable.total_duration
    %th= Money.new(@billable.map(&:bill).sum).format

- if @unbillable.any?
  %hr
  %h3.text-warning Won't bill for #{@unbillable.total_duration} hours

  %p The following entries are marked as not billable and won't be shown on the invoice.

  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Project
        %th.text-info Activity
        %th.text-warning.nowrap Admin notes
        %th.nowrap # hours

    - @unbillable.each do |entry|
      %tr
        %td.nowrap= date entry.date
        %td= entry.project.name
        %td.text-info.max-400= entry.invoice_notes
        %td
          - if entry.admin_notes.present?
            %span.text-warning.def.has-tooltip{tooltip: entry.admin_notes}
              = entry.admin_notes[0..7]
        %td= entry.duration


- if @already_invoiced.any?
  %hr
  %h3.text-danger Already invoiced #{@already_invoiced.total_duration} hours

  %p The following entries from this date range will be <strong>excluded</strong> because they're already attached to another invoice.

  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Project
        %th.text-info Activity
        %th.text-warning.nowrap Admin notes
        %th.nowrap # hours
        %th Billable?
        %th Invoice

    - @already_invoiced.each do |entry|
      %tr
        %td.nowrap= date entry.date
        %td= entry.project.name
        %td.text-info.max-400= entry.invoice_notes
        %td
          - if entry.admin_notes.present?
            %span.text-warning.def.has-tooltip{tooltip: entry.admin_notes}
              = entry.admin_notes[0..7]
        %td= entry.duration
        %td
          - if entry.will_bill?
            %span.text-success Yes
          - else
            %span.text-muted No
        %td= link_to "Invoice ##{entry.invoice_id} (created #{date entry.invoice.created_at})", invoice_path(entry.invoice), target: "_blank"


- if @orphaned.any?
  %hr
  %h3.text-danger Orphaned entries

  %p The following work entries from <strong>before #{params[:date_start]}</strong> aren't attached to any invoice and may be orphaned.

  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Project
        %th.text-info Activity
        %th.text-warning.nowrap Admin notes
        %th.nowrap # hours
        %th Billable?

    - @orphaned.each do |entry|
      %tr
        %td.nowrap= date entry.date
        %td= entry.project.name
        %td.text-info.max-400= entry.invoice_notes
        %td
          - if entry.admin_notes.present?
            %span.text-warning.def.has-tooltip{tooltip: entry.admin_notes}
              = entry.admin_notes[0..7]
        %td= entry.duration
        %td
          - if entry.will_bill?
            %span.text-success Yes
          - else
            %span.text-muted No
