
%h1 Invoices

%p= link_to "New invoice", new_invoice_path

%table.form.nowrap.striped
  %tr
    %th Project
    %th Start date
    %th End date
    %th Total hours
    %th Total bill
    %th Sent?
    %th Paid?
    %th

  - @invoices.each do |invoice|
    %tr.highlight-on-hover
      %td= link_to invoice.project.name, invoice.project
      %td= date invoice.date_start, weekday: true
      %td= date invoice.date_end, weekday: true
      %td.text-right <strong>#{number_with_precision(invoice.total_hours, precision: 2)}</strong>
      %td.text-right <strong>#{number_with_precision(invoice.total_bill.format, precision: 2)}</strong>
      %td
        - if invoice.is_sent?
          %span.text-success Sent
        - else
          %span.text-danger No
          = link_to glyph("check"), invoice_path(invoice, invoice: { is_sent: true }), method: :patch, class: "btn btn-xs btn-default has-tooltip", tooltip: "Mark as sent"
      %td
        - if invoice.is_paid?
          %span.text-success Paid
        - else
          %span.text-danger No
          = link_to glyph("check"), invoice_path(invoice, invoice: { is_paid: true }), method: :patch, class: "btn btn-xs btn-default has-tooltip", tooltip: "Mark as paid"
      %td
        = link_to "View", invoice_path(invoice), target: "_blank"
        &nbsp;
        = link_to glyph("trash"), invoice_path(invoice), method: :delete, class: "text-danger", "data-confirm" => "Really delete this invoice?"

= will_paginate @invoices
