
%h1 New invoice

- if current_user.work_entries.running.any?
  .alert.alert-warning You have a timer running. You should probably stop it before creating invoices.

- if current_user.projects.paying.empty?
  .alert.alert-danger You have no projects with an hourly rate defined. Set an hourly rate for some of your projects in order to create invoices.

- else
  = form_for @invoice do |f|

    %table.form
      %tr
        %td Project
        %td= f.select :project_id, project_options_for_select(display_rate: true), {}, class: "form-control"
      %tr
        %td From
        %td= f.date_field :date_start, class: "form-control"
      %tr
        %td To
        %td= f.date_field :date_end, class: "form-control"
      %tr
        %td
        %td= link_to "Preview", '#', class: "btn btn-primary preview-entries"

    #results-div.js-hidden
      .loading= image_tag "loading.gif"
      #preview-entries-div

      %hr

      %p= f.submit "Create", class: "btn btn-danger"
