= form_for @metric do |f|
  = show_errors_for @metric

  %table.form
    %tr
      %td= f.label :label
      %td= f.text_field :label, class: "form-control", autofocus: true
    %tr
      %td
        = f.label :project_ids, "Limit to projects:"
        .small (leave blank for all)
      %td= f.select :project_ids, project_options_for_select(exclude_inactive: true, selected_id: @metric.project_ids.split(",")), {}, class: "form-control", multiple: true
    %tr
      %td= f.label :date_filter_type, "Since..."
      %td
        = f.select :date_filter_type, options_for_select(metric_since_options, @metric.date_filter_type), {}, class: "form-control js-metric-since"
        %span.js-hidden.js-metric-since-date
          = f.date_field :date_filter_since_custom_date, class: "form-control"
    %tr
      %td= f.label :operation_type
      %td
        = f.select :operation_type, options_for_select(metric_operation_options, @metric.operation_type), {}, class: "form-control js-metric-operation-type"
        %div.js-hidden.js-metric-custom-sql
          = f.text_area :operation_custom_sql, class: "form-control", style: "width: 100%;"
    %tr
      %td
      %td
        = f.submit "Save", class: "btn btn-primary"
