
= breadcrumbs [:user]

.centered-600

  %h1 User: #{@user.email}

  %p Member since #{@user.created_at.to_date}

  %h3 Download data

  %p Your data belongs to you; below you can download it in spreadsheet-friendly format. If you'd like to have access to your data in other common formats, please #{link_to "contact me", "https://github.com/topherhunt/timesheet/issues", target: "_blank"} and I'm glad to consider adding them.

  %p
    = link_to glyph("save") + " Work entries", download_work_entries_path, class: "btn btn-default"
    = link_to glyph("save") + " Invoices", download_invoices_path, class: "btn btn-default"
