%ol.breadcrumb

  - if active == :user
    %li.active= current_user.email
  - else
    %li= link_to current_user.email, current_user

  - if parts.include? :projects
    - if active == :projects
      %li.active Projects
    - else
      %li= link_to "Projects", projects_path

  - if parts.include? :project
    - if active == :project
      %li.active= @project.name
    - else
      %li= link_to @project.name, @project

  - if parts.include? :metrics
    - if active == :metrics
      %li.active Metrics
    - else
      %li= link_to "Metrics", metrics_path

  - if parts.include? :metric
    - if active == :metric
      %li.active= @metric.label
    - else
      %li= link_to @metric.label, @metric

  - if parts.include? :entries
    - if active == :entries
      %li.active Timesheet
    - else
      %li= link_to "Timesheet", work_entries_path

  - if active.in? [:new, :edit]
    %li.active= active.to_s.capitalize
