
= breadcrumbs [:user, :clients, :new]

%h1 New client

= form_for @client do |f|
  = show_errors_for @client

  %table.form
    %tr
      %td= f.label :name
      %td= f.text_field :name, class: "form-control", autofocus: true
    %tr
      %td= f.label :rate
      %td $ #{f.text_field :rate, class: "form-control small inline"}
    %tr
      %td= f.label :requires_daily_billing
      %td= f.check_box :requires_daily_billing, class: "form-control"
    %tr
      %td
      %td= f.submit "Create", class: "btn btn-primary"