
= breadcrumbs [:user, :clients, :client]

%h1 Client "#{@client.name}"

%table.form
  %tr
    %td Name
    %td= @client.name
  %tr
    %td Rate
    %td= @client.rate.try :format or "Free"
  %tr
    %td Requires daily billing?
    %td= @client.requires_daily_billing? ? "Yes" : "No"

%hr

%p= link_to "Edit", edit_client_path(@client)

%p= link_to pluralize(@client.projects.count, "project"), projects_path(client_id: @client.id)
