- projects.each do |project|
  %tr{class: "reveal-on-hover", target: ".actions", "data-project-id": project.id}
    %td
      = link_to project.name_with_ancestry, project_path(project)
    %td.rate
      - if project.rate > 0
        %span= project.rate.format
      - elsif project.inherited_rate > 0
        .text-muted (#{project.inherited_rate.format})
    %td.notes
      - unless project.active?
        .text-muted Inactive
      - if project.requires_daily_billing?
        .text-warning Bill daily
      - if project.min_hours_per_week and project.min_hours_per_week > 0
        .text-info Min hrs / week: #{project.min_hours_per_week}
    %td{style: "min-width: 70px;"}
      .actions.js-hidden
        = link_to glyph("plus"), new_project_path(parent_id: project.id), class: "has-tooltip", tooltip: "New child project"
        = link_to glyph("pencil"), edit_project_path(project), class: "has-tooltip", tooltip: "Edit"
        = link_to glyph("trash"), delete_project_path(project), class: "has-tooltip test-delete-project", tooltip: "Delete this project and move all associated data to another project"
