- projects.each do |project|
  %tr{class: "reveal-on-hover", target: ".actions", "data-project-id": project.id}
    %td
      = link_to project.name_with_ancestry, project_path(project)
      - unless project.active?
        %span.label.label-default Inactive
    %td.rate
      - if project.rate > 0
        %span= project.rate.format
      - elsif project.inherited_rate > 0
        .text-muted (#{project.inherited_rate.format})
    %td= date project.start_date
    %td.text-right
      = project.weekly_target.to_i > 0 ? project.weekly_target : ""
    %td.text-right
      = project.weekly_avg_since_start.round(1)
    %td{style: "min-width: 70px;"}
      .actions.js-hidden
        = link_to glyph("plus"), new_project_path(parent_id: project.id), class: "has-tooltip", tooltip: "New child project"
        = link_to glyph("pencil"), edit_project_path(project), class: "has-tooltip", tooltip: "Edit"
        = link_to glyph("trash"), delete_project_path(project), class: "has-tooltip test-delete-project", tooltip: "Delete this project and move all associated data to another project"
