
= breadcrumbs [:user, :clients, :client, :projects, :project]

%h1 Project "#{@project.name}"

%table.form
  %tr
    %td Client
    %td= link_to @client.name, @client
  %tr
    %td Billable?
    %td= @project.is_billable? ? "Yes" : "No"
  %tr
    %td
    %td= link_to "Edit", edit_project_path(@project)
