
= breadcrumbs [:user, :projects, :project]

%h1 #{@project.name_with_ancestry}

%table.form
  %tr
    %td Parent
    %td
      - if @project.parent
        = link_to @project.parent.name_with_ancestry, @project.parent if @project.parent
      - else
        None (top-level)
  %tr
    %td Active?
    %td= @project.active? ? "Yes" : "No"
  %tr
    %td Rate
    %td
      - if @project.rate > 0
        = @project.rate.format
      - elsif @project.inherited_rate > 0
        = @project.inherited_rate.format
        (inherited)
  %tr
    %td
    %td= link_to "Edit", edit_project_path(@project), class: "btn btn-default"

%h3 Children

%table.table.table-striped
  %tr
    %th Name
    %th Rate
    %th Notes
    %th
  = render partial: 'list_body', locals: { projects: @children }
  %tr
    %td{colspan: 3}
      = link_to glyph('plus'), new_project_path(parent_id: @project.id), class: 'has-tooltip', tooltip: 'New child project'
