%table#timesheet.table
  - current_date = nil
  - @entries.each do |entry|
    %tr.highlight-on-hover.reveal-on-hover{target: ".actions"}
      %td
        .nowrap
          %strong= entry.started_at.strftime("%a")
          = date(entry.started_at, abbreviated: true, year: false)
      %td
        .nowrap
          - if entry.stopped?
            %strong #{entry.duration.round(1)} h
            &nbsp;
            %span.text-muted.small
              #{time(entry.started_at)} -
              #{time(entry.started_at + (entry.duration).hours)}
          - else
            %strong.text-danger Running
            &nbsp;
            %span.text-muted.small #{time entry.started_at} - now

      %td{style: "position: relative;"}
        %div{style: "width: 100%;"}
          %span.text-success= entry.project.try(:name_with_ancestry)
          &nbsp;
          %span= entry.invoice_notes
          - if entry.admin_notes.present?
            %span.text-warning.def.has-tooltip{tooltip: entry.admin_notes}
              *
          %span.small
            - if entry.project.billable? && entry.exclude_from_invoice?
              %span.label.label-warning won't bill
            - if entry.invoice.present?
              %span.label.label-success.has-tooltip.def{tooltip: "Included on the invoice created #{date entry.invoice.try(:created_at)}."} invoiced
        .actions.nowrap.js-hidden{style: "position: absolute; right: 3px; top: 2px; background: #fff; border: 1px solid #ddd; border-radius: 3px; padding: 3px;"}
          - if entry.running?
            = link_to glyph("stop"), stop_work_entry_path(entry), method: :put, class: "has-tooltip text-danger", tooltip: "Stop this timer (starting a new timer does this automatically)"
            &nbsp;
          %span.tooltip-width-150
            = link_to glyph("arrow-down"), "#", class: "js-merge-entry has-tooltip", "data-entry-id": entry.id, tooltip: "Merge with the previous entry in this project"
          = link_to glyph("pencil"), edit_work_entry_path(entry), class: "has-tooltip", tooltip: "Edit"
          = link_to glyph("trash"), work_entry_path(entry), method: :delete, class: "has-tooltip", tooltip: "Delete", "data-confirm": "Really delete this entry?"

= will_paginate @entries

