%table#timesheet.table
  - current_date = nil
  - @entries.each do |entry|
    %tr.highlight-on-hover.reveal-on-hover{target: ".actions"}
      %td{style: "width: 280px;"}
        .nowrap
          %strong
            = date(entry.date, weekday: true, abbreviated: true, year: false)
          &nbsp;
          - if entry.stopped?
            %span.text-muted
              #{time(entry.created_at)} -
              #{time(entry.created_at + (entry.duration).hours)}
            (#{entry.duration.round(1)} h)
          - else
            #{time entry.created_at} -
            %strong.text-danger running
      %td
        %div{style: "width: 150px;"}
          = entry.project.try(:name_with_ancestry)
          %div
            - unless entry.will_bill?
              %span.text-muted.small won't bill
            - if entry.invoice.present?
              %span.text-success.small.has-tooltip.def{tooltip: "Included on the invoice created #{date entry.invoice.created_at}."} invoiced
      %td{style: "position: relative;"}
        %div{style: "width: 300px;"}
          - if entry.invoice_notes.present?
            %span.def.copy-tooltip{tooltip: entry.invoice_notes}
              = entry.invoice_notes
          - else
            %span.text-warning.em
              = entry.goal_notes
          - if entry.admin_notes.present?
            %span.text-warning.def.has-tooltip{tooltip: entry.admin_notes}
              *
        .actions.nowrap.js-hidden{style: "position: absolute; right: 3px; top: 2px; background: #fff; border: 1px solid #ddd; border-radius: 3px; padding: 3px;"}
          - if entry.running?
            = link_to glyph("stop"), stop_work_entry_path(entry), method: :put, class: "has-tooltip text-danger", tooltip: "Stop this timer (starting a new timer does this automatically)"
            &nbsp;
          %span.tooltip-width-150
            = link_to glyph("arrow-down"), "#", class: "js-merge-entry has-tooltip", "data-entry-id": entry.id, tooltip: "Merge with the last #{entry.billing_status_term} entry in this project"
          = link_to glyph("pencil"), edit_work_entry_path(entry), class: "has-tooltip", tooltip: "Edit"
          = link_to glyph("trash"), work_entry_path(entry), method: :delete, class: "has-tooltip", tooltip: "Delete", "data-confirm": "Really delete this entry?"

= will_paginate @entries
