%table.totals-table
  - if @filters.any?
    %tr
      %th.h4 Filter totals
      %td.text-right Total
      %td.text-right Billable
    %tr
      %td
      %th.text-right= @totals[:filtered][:total].round(1)
      %th.text-right= @totals[:filtered][:billable].round(1)
  - else
    %tr
      %th.h4 Project totals
      %td.data-cell Today
      %td.data-cell Week
      %td.data-cell Target
    - @totals[:projects].each do |hash|
      %tr.text-muted
        %td{style: "font-size: 90%;"}= hash[:name]
        %td.text-right= hash[:today_total]
        %td.text-right= hash[:week_total]
        %td.text-right= hash[:week_target] > 0 ? hash[:week_target].round : ""
