- if @filter_totals
  %table.totals-table
    %tr
      %th.h4 Filter totals
      %td.text-right Total
      %td.text-right Billable
    %tr
      %td
      %th.text-right= @filter_totals[:filtered][:total].round(1)
      %th.text-right= @filter_totals[:filtered][:billable].round(1)
- else
  %table.totals-table
    %tr
      %th.h4
        .has-tooltip.def{tooltip: "Recalculated hourly."}
          Project totals
      %td Today
      %td Week
      %td Avg/wk
      %td Target
    - @totals_per_project.each do |hash|
      %tr.text-muted
        %td{style: "font-size: 90%;"}= hash[:name]
        %td.text-right= hash[:today_total].round(1)
        %td.text-right= hash[:week_total].round(1)
        %td.text-right
          - if hash[:weekly_average].round(1) > 0
            %span.def.has-tooltip{tooltip: "(since this project's start date, #{date hash[:start_date]})"}
              = hash[:weekly_average].round(1)
        %td.text-right
          - if hash[:weekly_target] > 0
            = hash[:weekly_target].round
