
- if @filters.any?
  %table{style: "float: right;"}
    %tr
      %th Filter totals
      %th.text-right Total
      %th.text-right Billable
    %tr
      %td
      %td= @totals[:total].round(1)
      %td= @totals[:billable].round(1)

- else

  %table.totals-table
    %tr
      %th Totals today
      %th.text-right Total
      %th.text-right Billable
    %tr
      %td All projects
      %td.text-right
        = @totals[:day][:all][:total].round(1)
      %td.text-right
        = @totals[:day][:all][:billable].round(1)
    - @totals[:day][:projects].each do |data|
      %tr
        %td.project-name= data[:project_name]
        %td.text-right= data[:total].round(1)
        %td.text-right= data[:billable].round(1)
    - if @totals[:day][:all][:total] == 0
      %tr
        %td.small.text-info{colspan: 3} Good morning! Ready for a productive day?
    - if @totals[:day][:all][:total] >= 9
      %tr
        %td.small.text-success{colspan: 3} Wow, you've had an amazing day! Why don't you reward yourself?

  %table.totals-table
    %tr
      %th Totals this week
      %th.text-right Total
      %th.text-right Billable
    %tr
      %td All projects
      %td.text-right= @totals[:week][:all][:total].round(1)
      %td.text-right= @totals[:week][:all][:billable].round(1)
    - @totals[:week][:projects].each do |data|
      %tr
        %td.project-name= data[:project_name]
        %td.text-right= data[:total].round(1)
        %td.text-right= data[:billable].round(1)
    - if @totals[:week][:all][:total] == 0
      %tr
        %td.small.text-info{colspan: 3} It's the start of an amazing new week! Have you done your #{link_to "weekly review", "http://gettingthingsdone.com/wp-content/uploads/2014/10/Weekly_Review_Checklist.pdf", target: "_blank", style: "text-decoration: underline;"} yet?
    - if @totals[:week][:all][:total] >= 45
      %tr
        %td.small.text-success{colspan: 3} Really awesome job this week!

  %table.totals-table
    %tr
      %th Targets this week
      %th.text-right Total
      %th.text-right Targeted
    - @totals[:targets][:projects].each do |data|
      %tr{class: success_or_danger(data[:actual] >= data[:expected]), colspan: 2}
        %td.project-name= data[:project_name]
        %td.text-right= data[:actual].round(1)
        %td.text-right= data[:expected].round
    - if @totals[:targets][:projects].count == 0
      %tr
        %td.small.text-info{colspan: 3} Now you can track weekly targets per project. Edit a project and enter a number for "Min hours per week" to get started.
    - elsif @totals[:targets][:projects].all? { |p| p[:actual] >= p[:expected] }
      %tr
        %td.small.text-success{colspan: 3} OMG, you've met all of your targets for this week. How do you feel?

.clear-float
