= breadcrumbs [:user, :entries, :edit]

.centered-600

  %h3 Edit entry

  = form_for @entry do |f|
    = show_errors_for @entry

    %table.form
      %tr
        %td= f.label :project_id, "Project"
        %td= f.select :project_id, project_options_for_select(exclude_inactive: true, selected_id: @entry.project_id), {}, class: "form-control"
      %tr
        %td= f.label :started_at_date, "Start date"
        %td= f.date_field :started_at_date, class: "form-control", value: @entry.started_at.in_time_zone(local_tz_string).to_date
      %tr
        %td= f.label :started_at_time, "Start time"
        %td= f.text_field :started_at_time, class: "form-control", value: time(@entry.started_at)
      %tr
        %td= f.label :duration
        %td= f.text_field :duration, class: "form-control"
      %tr
        %td.text-info
          = f.label :invoice_notes, "Invoice notes"
          .small{style: "margin-top: -5px;"}
            (what did you do?)
        %td= f.text_field :invoice_notes, class: "form-control"
      %tr
        %td.text-warning= f.label :admin_notes, "Private notes"
        %td= f.text_field :admin_notes, class: "form-control"
      - if @entry.project.billable?
        %tr
          %td= f.label :exclude_from_invoice, "Exclude from invoice"
          %td= f.check_box :exclude_from_invoice, class: "form-control"
      %tr
        %td
        %td= f.submit "Save", class: "btn btn-success"
