%div
  = render partial: "totals"

.centered-1000
  %h4= link_to "Filter this list", "#", class: "reveal-target", target: "#filter-table"
  = render partial: "filters"

  - if params[:page].to_i >= 2
    = will_paginate @entries
  - elsif current_user.projects.empty?
    = render partial: "no_projects_instruction"
  - elsif @filters.empty?
    = render partial: "new_timer"

  = render partial: "list"
