#keepalive

= breadcrumbs [:user, :entries]

.row
  .col-xs-7
    %h1 Timesheet
    %h3= link_to "Filter", "#", class: "reveal-target", target: "#filter-table"
  .col-xs-5
    .well{style: "padding: 15px;"}
      %h4{style: "margin-top: 0px;"} Progress today:
      %ul{style: "margin-bottom: 0px;"}
        %li{class: @hrs_total_today > 9 ? "text-success" : ""}
          <strong>#{@hrs_total_today}</strong> hrs total
        %li{class: @hrs_total_today > 6 ? "text-success" : ""}
          <strong>#{@hrs_billable_today}</strong> hrs billable

/ Filters
= form_tag work_entries_path, method: :get do
  %table#filter-table.form{class: @is_filtered ? "" : "js-hidden"}
    %tr
      %td Client
      %td= select_tag :client_id, options_for_select([""] + @clients.collect{ |c| [c.name, c.id] }, params[:client_id]), class: "form-control", style: "display: inline-block; width: 200px;"
      %td Project
      %td= select_tag :project_id, options_for_select([""] + @projects.collect{ |p| ["#{p.client.name} - #{p.name}", p.id] }, params[:project_id]), class: "form-control", style: "display: inline-block; width: 200px;"
    %tr
      %td Start date
      %td= date_field_tag :date_start, params[:date_start], class: "form-control"
      %td End date
      %td= date_field_tag :date_end, params[:date_end], class: "form-control"
    %tr
      %td
      %td
      %td
      %td= submit_tag "Filter", class: "btn btn-primary"

- if @project or @client or @date_start or @date_end
  %p= link_to glyph("remove") + " Clear filter", work_entries_path

%hr

= form_for current_user.work_entries.new(project: current_user.last_project) do |f|
  %p
    %strong New timer: &nbsp;
    = f.hidden_field :date, value: Date.today
    = f.select :project_id, @projects.collect{ |p| ["#{p.client.name} - #{p.name}", p.id] }, {}, class: "form-control", style: "display: inline-block; width: 250px;"
    &nbsp;
    = f.submit "Start", class: "btn btn-success btn-sm"
    &nbsp;
    = f.submit "Create and edit", class: "btn btn-info btn-sm"

%table.form.nowrap
  %tr
    %th Date
    %th Client
    %th Project
    %th Duration
    %th Billable?
    %th Notes
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.date
      %td= link_to entry.project.client.name, entry.project.client
      %td= link_to entry.project.name, entry.project

      %td
        - if entry.duration
          <strong>#{entry.duration}</strong> hrs
        - else
          %span.label.label-success= time entry.created_at
          \-
          = link_to "stop", stop_work_entry_path(entry), class: "btn btn-xs btn-danger stop-work-entry"

      %td
        - if entry.will_bill?
          - if entry.is_billed?
            %span.text-success billed
          - else
            %span.text-danger Yes
            = link_to "Mark billed", mark_billed_work_entry_path(entry), class: "btn btn-xs btn-default mark-billed-work-entry"
        - else
          %span.text-muted no

      %td
        - if entry.invoice_notes.present?
          %span.label.label-info.has-tooltip{tooltip: entry.invoice_notes}
            = entry.invoice_notes[0..7]
        - if entry.admin_notes.present?
          %span.label.label-warning.has-tooltip{tooltip: entry.admin_notes}
            = entry.admin_notes[0..7]

      %td
        = link_to glyph("pencil"), edit_work_entry_path(entry)
        &nbsp;
        = link_to glyph("trash"), work_entry_path(entry), class: "text-danger delete-work-entry"

= will_paginate @entries
