.navbar.navbar-default
  #main-navbar.container-fluid
    .navbar-header
      = link_to "WorkTracker", root_path, class: 'navbar-brand'
      / The "show links" button. Floats to the RIGHT of its container.
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li{class: active_if_current(about_path)}
          = link_to "About", about_path

        - if user_signed_in?
          %li{class: active_if_current(projects_path)}
            = link_to "Projects", projects_path
          %li{class: active_if_current(work_entries_path)}
            = link_to "Timesheet", work_entries_path
          %li{class: active_if_current(invoices_path)}
            = link_to "Invoices", invoices_path

          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown'}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Profile", user_path(current_user)
              %li= link_to "Account settings", edit_user_registration_path
              %li= link_to "Log out", destroy_user_session_path, method: :delete, class: 'force_red'
        - else
          %li= link_to "Log in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path
