!!!
%html
  %head
    %title WorkTracker
    / Tell mobile devices to pretend they're small screens so responsive
    / styling takes effect.
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag(@timer_running ? "favicon_green.ico" : "favicon.ico")

  %body
    = render "/layouts/header"
    #main-container.container-fluid
      = render "/layouts/flash"
      - if current_user
        #js-update-tz-banner.js-hidden.alert.alert-warning{"data-configured-tz": current_user.time_zone}
          It looks like you're now in the time zone
          <strong id="js-detected-tz">NOT_YET_SET</strong>.
          Would you like to change all times to show up in this timezone?
          &nbsp;
          = link_to "Yes please!", "#", id: "js-update-tz-link"
          &nbsp;
          = link_to "No thanks.", "#", id: "js-dismiss-tz-link"
      = yield
